---
layout: default
title: Raspberry Pi Programming
description: Cursus voor het vak Raspberry Pi Programming @ Elektronica - ICT (AP Hogeschool Antwerpen)
---

<div id="home">
  <h1>{{ page.title }}</h1>
  <h2>{{ page.description}}</h2>
  <ul>
    {% for slide in site.slides %}
    <li>
      <a class="slide-entry" href="{{ site.baseurl | append: slide.url }}">{{ slide.title }}</a>
      <small>{{ slide.description }}</small>
    </li>
    {% endfor %}
  </ul>
  <ul>
    {% for lab in site.labs %}
    <li>
      <a class="slide-entry" href="{{ site.baseurl | append: lab.url }}">{{ lab.title }}</a>
      <small>{{ lab.description }}</small>
    </li>
    {% endfor %}
  </ul>
</div>
